
    :root {
        --background-custom: 0 0% 100%;
        --foreground-custom: 240 10% 3.9%;
        --card-custom: 0 0% 100%;
        --card-foreground-custom: 240 10% 3.9%;
        --popover-custom: 0 0% 100%;
        --popover-foreground-custom: 240 10% 3.9%;
        --primary-custom: 346.8 77.2% 49.8%;
        --primary-foreground-custom: 355.7 100% 97.3%;
        --secondary-custom: 240 4.8% 95.9%;
        --secondary-foreground-custom: 240 5.9% 10%;
        --muted-custom: 240 4.8% 95.9%;
        --muted-foreground-custom: 240 3.8% 46.1%;
        --accent-custom: 240 4.8% 95.9%;
        --accent-foreground-custom: 240 5.9% 10%;
        --destructive-custom: 0 84.2% 60.2%;
        --destructive-foreground-custom: 0 0% 98%;
        --border-custom: 240 5.9% 90%;
        --input-custom: 240 5.9% 90%;
        --ring-custom: 346.8 77.2% 49.8%;
        --radius-custom: 1rem;
    }
    .dark {
        --background-custom-dark: 20 14.3% 4.1%;
        --foreground-custom-dark: 0 0% 95%;
        --card-custom-dark: 24 9.8% 10%;
        --card-foreground-custom-dark: 0 0% 95%;
        --popover-custom-dark: 0 0% 9%;
        --popover-foreground-custom-dark: 0 0% 95%;
        --primary-custom-dark: 346.8 77.2% 49.8%;
        --primary-foreground-custom-dark: 355.7 100% 97.3%;
        --secondary-custom-dark: 240 3.7% 15.9%;
        --secondary-foreground-custom-dark: 0 0% 98%;
        --muted-custom-dark: 0 0% 15%;
        --muted-foreground-custom-dark: 240 5% 64.9%;
        --accent-custom-dark: 12 6.5% 15.1%;
        --accent-foreground-custom-dark: 0 0% 98%;
        --destructive-custom-dark: 0 62.8% 30.6%;
        --destructive-foreground-custom-dark: 0 85.7% 97.3%;
        --border-custom-dark: 240 3.7% 15.9%;
        --input-custom-dark: 240 3.7% 15.9%;
        --ring-custom-dark: 346.8 77.2% 49.8%;
    }
    